*{
    box-sizing: border-box;
}
body{
    color: rgb(29, 255, 116);
    background-color: rgb(23, 14, 44);
}
h1{
    margin-top: .1px;
    background-color: rgb(58, 77, 131);
}

.text{
    background-color: rgb(24, 70, 92);
    display: inline;

}

.link{
    background-color: rgb(143, 31, 59);
    color: black;
    display: block;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}