body{
    background-color: black;
    color: white;
}
button{
    width: 300px;
    height: 200px;
    display: green;
    background-color: lime;
    color: purple;
}
#box{
    text-align: center ;
    color: black;
    width: 100px;
    height: 100px;
}
.box{
    background-color: white;
}
.aqua{
    background-color: aqua;

}
.boxes{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}